* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v9_26 {
  width: 428px;
  height: 926px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_33 {
  width: 35px;
  height: 50px;
  background: url("../images/v9_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 383px;
  overflow: hidden;
}
.v9_34 {
  width: 287px;
  height: 41px;
  background: rgba(217,217,217,0.33000001311302185);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 82px;
  overflow: hidden;
}
.v9_36 {
  width: 35px;
  height: 33px;
  background: url("../images/v9_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 82px;
  overflow: hidden;
}
.v9_38 {
  width: 241px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 117px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v9_44 {
  width: 40px;
  height: 34px;
  background: rgba(217,217,217,0.33000001311302185);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 7px;
  overflow: hidden;
}
.v12_2 {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 84px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v12_3 {
  width: 32px;
  height: 31px;
  background: rgba(95,212,198,1);
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 17px;
  border-radius: 50%;
}
.v15_18 {
  width: 32px;
  height: 31px;
  background: rgba(95,170,212,1);
  opacity: 1;
  position: absolute;
  top: 343px;
  left: 17px;
  border-radius: 50%;
}
.v12_4 {
  width: 14px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 143px;
  left: 27px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v15_19 {
  width: 23px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 350px;
  left: 26px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_7 {
  width: 332px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 130px;
  left: 64px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v18_26 {
  width: 332px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 445px;
  left: 64px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v15_14 {
  width: 332px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 239px;
  left: 64px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_8 {
  width: 343px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 155px;
  left: 58px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v18_27 {
  width: 343px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 466px;
  left: 59px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v15_22 {
  width: 343px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 363px;
  left: 64px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v15_20 {
  width: 343px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 339px;
  left: 64px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v15_21 {
  width: 18px;
  height: 20px;
  background: url("../images/v15_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 362px;
  left: 64px;
  overflow: hidden;
}
.v15_15 {
  width: 343px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 287px;
  left: 64px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v12_10 {
  width: 72px;
  color: rgba(0,0,0,0.5199999809265137);
  position: absolute;
  top: 130px;
  left: 358px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v15_17 {
  width: 72px;
  color: rgba(0,0,0,0.5199999809265137);
  position: absolute;
  top: 245px;
  left: 358px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v15_23 {
  width: 72px;
  color: rgba(0,0,0,0.5199999809265137);
  position: absolute;
  top: 341px;
  left: 360px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v19_29 {
  width: 72px;
  color: rgba(0,0,0,0.5199999809265137);
  position: absolute;
  top: 454px;
  left: 358px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v15_13 {
  width: 32px;
  height: 38px;
  background: url("../images/v15_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 17px;
  overflow: hidden;
}
.v18_25 {
  width: 33px;
  height: 40px;
  background: url("../images/v18_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 16px;
  overflow: hidden;
}
.v20_31 {
  width: 42px;
  height: 31px;
  background: url("../images/v20_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 886px;
  left: 46px;
  overflow: hidden;
}
.v20_32 {
  width: 27px;
  height: 14px;
  background: rgba(255,38,38,0.9100000262260437);
  opacity: 1;
  position: absolute;
  top: 881px;
  left: 72px;
  border-radius: 50%;
}
.v20_34 {
  width: 25px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 883px;
  left: 80px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v20_35 {
  width: 71px;
  height: 49px;
  background: url("../images/v20_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 873px;
  left: 200px;
  overflow: hidden;
}
.v20_39 {
  width: 131px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 795px;
  left: 297px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v22_46 {
  width: 73px;
  height: 23px;
  background: rgba(95,170,212,1);
  opacity: 1;
  position: absolute;
  top: 824px;
  left: 355px;
  border-radius: 50%;
}
.v22_47 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 829px;
  left: 360px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v24_2 {
  width: 428px;
  height: 61px;
  background: rgba(217,217,217,0.33000001311302185);
  opacity: 1;
  position: absolute;
  top: 865px;
  left: 0px;
  overflow: hidden;
}
.v24_4 {
  width: 411px;
  height: 98px;
  background: rgba(217,217,217,0.33000001311302185);
  opacity: 1;
  position: absolute;
  top: 219px;
  left: 7px;
  overflow: hidden;
}
.v24_5 {
  width: 411px;
  height: 82px;
  background: rgba(217,217,217,0.33000001311302185);
  opacity: 1;
  position: absolute;
  top: 329px;
  left: 7px;
  overflow: hidden;
}
.v24_6 {
  width: 411px;
  height: 82px;
  background: rgba(217,217,217,0.33000001311302185);
  opacity: 1;
  position: absolute;
  top: 429px;
  left: 7px;
  overflow: hidden;
}
.v24_3 {
  width: 411px;
  height: 71px;
  background: rgba(217,217,217,0.33000001311302185);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 8px;
  overflow: hidden;
}
